* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover; /* Hace que la imagen de fondo ocupe toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: justify;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: bolder;
    color: black;   
    margin:15px 0;
}

h3 {
    text-align: center;
    font-style: italic;
    font: weight 800px;;
    font-size: 2em;
    color: red;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.3em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid hotpink;
}

button:nth-child(1) {
    margin-left: -200px;
    background: hotpink;
}

button:nth-child(2) {
    margin-right: -200px;
    background: blue;
    color: white;
    border: 2px solid blue;
}

.floating-heart {
    position: absolute;
    width: 300px;
    animation: floatHeart 6s ease-in-out infinite;
}

@keyframes floatHeart {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.song-section {
    text-align: center;
    margin-top: 20px;
}

.song-text {
    text-align: center;
    color: hotpink;
    font-size: 2em;
}

.song-section iframe {
    margin-top: 10px;
}

.proposal-section {
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.proposal-section h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: hotpink;
    margin-bottom: 10px;
}

.proposal-section h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    margin-bottom: 10px;
}

.proposal-section .btn-group {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.proposal-section .btn-group button {
    width: 100px;
    height: 60px;
    margin: 0 10px;
    font-size: 1.2em;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
}

.proposal-section .btn-group button:nth-child(1) {
   margin-left: -200px;
    background-color: hotpink;
    border: 2px solid hotpink;
    color: white;
}

.proposal-section .btn-group button:nth-child(2) {
   margin-right: -200px;
    background-color: blue;
    border: 2px solid blue;
    color: white;
}

.card-section {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
}

.card-cover {
    cursor: pointer;
    margin-top: 0; /* La imagen empieza desde el margen superior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-image {
    width: 80%; /* Ajusta el tamaño de la imagen de portada */
    height: auto;
    margin-bottom: 20px;
}

.cover-text {
    font-size: 34px; /* Ajusta el tamaño del texto */
    font-weight: bold;
    color: red; /* Color del texto */
    text-align: center; /* Centra el texto */
}

.card-content {
    display: none; /* Oculto inicialmente */
    flex-direction: column;
    align-items: center;
}

.card-details {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Asegura que las imágenes se alineen en la parte superior */
    width: 80%;
    margin-top: 10px;
}

.left-side, .right-side {
    width: 50%; /* Asegura que cada lado ocupe la mitad del contenedor */
}

.flower-image, .beautiful-image {
    width: 80%; /* Ajusta el tamaño de las imágenes cuando se abren */
    height: auto; /* Mantiene la proporción de las imágenes */
    display: block; /* Asegura que las imágenes sean bloques */
}

.response-text {
    margin-top: 20px;
    font-size: 24px; /* Ajusta el tamaño del texto de respuesta */
    font-weight: bold;
    color: red; /* Color del texto de respuesta */
    display: none; /* Oculto inicialmente */
    text-align: center; /* Centra el texto */
}

.whatsapp-link {
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: white; /* Color del texto del botón */
    background-color: #25D366; /* Color del botón */
    text-align: center; /* Centra el enlace */
    display: none; /* Oculta el enlace inicialmente */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    display: block; /* Asegura que el botón ocupe toda la línea y se centre */
}

.whatsapp-link:hover {
    background-color: #128C7E; /* Color del botón al pasar el ratón por encima */
}
